
  <tbody>
   <div id="<%= dom_id book %>">
    <tr>
      <th scope="row"><%= book.id%></th>
      <td><%= book.bookname%></td>
       <td><%= book.description%></td>
      <td><%= book.author%></td>
      <td><%= link_to "Show", book ,class:"btn btn-primary"%></td>
      <% a=Picture.find_by(pictureable_type:"Book", pictureable_id:book.id)%>
      <% if a!=nil %>
      <td><%= image_tag a.url, style: 'width:30%;'%></td>
      <%else%>
      <td></td>
      <% end%>
     <td><%= book.availablecopy %></td>
      <%# <td><a href="/borrowed" >Borrow</a></td> %>
      <% if student_signed_in?%>
      <td><%= link_to "Borrow", borrow_path(book)  %></td>
      <% end %>
    </tr>
      </div>
  </tbody>
  
