
  <tbody>
   <div id="<%= dom_id book %>">
    <tr>
      <th scope="row"><%= book.id%></th>
      <td><%= book.bookid%></td>
      <td><%= book.bookname%></td>
       <td><%= book.description%></td>
      <td><%= book.author%></td>
      <td><%= link_to "Show", book ,class:"btn btn-primary"%></td>
      <% a=Picture.find_by(pictureable_type:"Book", pictureable_id:book.id)%>
      <% if a!=nil %>
      <td><%= image_tag a.url, style: 'height:20%;width:25%;'%></td>
      <%else%>
      <td></td>
      <% end%>
      <%# <td><a href="/borrowed" >Borrow</a></td> %>
      <% if student_signed_in?%>
      <td><%= link_to "Borrow", borrowed_book_path(book)  %></td>
      <% end %>
      <% if admin_signed_in?%>
         <% if a==nil%>
      <td><%= link_to "Add book image", addbookphoto_picture_path(book) , class:"btn btn-secondary"%></td>
            <% end %>
<% end %>
    </tr>
      </div>
  </tbody>
  
