  <tbody>
   <div id="<%= dom_id book %>">
    <tr>
      <th scope="row"><%= book.id%></th>
      <td><%= book.bookid%></td>
      <td><%= book.bookname%></td>
      <td><%= book.author%></td>
      <td><%= link_to "Show", book %></td>
      <%# <td><a href="/borrowed" >Borrow</a></td> %>
      <td><%= link_to "Borrow", borrowed_book_path(book)  %></td>
    </tr>
      </div>
  </tbody>
