  <% if student_signed_in? %>
  <%= render "home/header" %>
  <% end %>
  <% if admin_signed_in?%>
  <%= render "home/header1"%>
  <% end%>

<h1>Book borrowed</h1>
<table class="table">
<thead>
    <tr>
    <th scope="col">Student mail</th>
       <th scope="col">Borrowed id</th>
      <th scope="col">Book id</th>
      <th scope="col">Book </th>
      <th scope="col">Book name</th>
      <th scope="col">Author</th>
    </tr>
</thead>
<tbody>
<tr>
<% stud=Student.find(@bo.student_id)%>
<th scope="row"><%= stud.email %></th>
<td><%= @bo.book_id %></td>
<td><%= @borrowed.id %></td>
<td><%= @borrowed.bookid %></td>
<td><%= @borrowed.bookname %></td>
<td><%= @borrowed.author %></td>
</tr>
</tbody>
</table>
<%= link_to "BACK", :back, class:"btn btn-secondary"%>