  <% if student_signed_in? %>
  <%= render "home/header" %>
  <% end %>
  <% if admin_signed_in?%>
  <%= render "home/header1"%>
  <% end%>
 
<h1>Borrow history</h1>
 <table class="table">
  <thead>
    <tr>
     <th scope="col">id</th>
       <th scope="col">student_id</th>
       <th scope="col">student email</th>
    <th scope="col">bookid</th>
    <th scope="col">Book name</th>
    <th scope="col">Author</th>
   
          </tr>
    <div id="books">
  <% @bohis.each do |bohis| %>
<tbody>
<tr>
<td><%= bohis.id %></td>
<td><%= bohis.student_id %></td>
<% stud=Student.find(bohis.student_id)%>
<th scope="row"><%= stud.email %></th>
<td><%= bohis.book_id %></td>
<% bok=Book.find(bohis.book_id)%>
<td><%= bok.bookname %></td>
<%#<td><%= @borrowed.bookname %></td>
<td><%= bok.author %></td>
</tr>

  <% end %>

</div>

  </thead>
  
  </table>
  <%= link_to "BACK", :back, class:"btn btn-secondary"%>