  <% if student_signed_in? %>
  <%= render "home/header" %>
    <p style="color: green"><%= notice %></p>
<h1>Books</h1>
 <table class="table">
  <thead>
    <tr>
    <th scope="col">id</th>
    <th scope="col">Book-id</th>
      <th scope="col">Book Name</th>
      <th scope="col">Author</th>
      <th scope="col">View book</th>
      <th scope="col">Borrow</th>
    </tr>
    <div id="books">
  <% @book.each do |book| %>
    <%= render book %>
  <% end %>
</div>

  </thead>
  
  </table>
  <% end %>
  <% if admin_signed_in?%>
  <%= render "home/header1"%>
  <p style="color: green"><%= notice %></p>
<h1>Books</h1>
 <table class="table">
  <thead>
    <tr>
    <th scope="col">id</th>
    <th scope="col">Book-id</th>
      <th scope="col">Book Name</th>
      <th scope="col">Author</th>
      <th scope="col">View book</th>
    </tr>
    <div id="books">
  <% @book.each do |book| %>
    <%= render book %>
  <% end %>
</div>

  </thead>
  
  </table>
  <%= link_to "New Book", new_book_path, class:"btn btn-success"%>
  <%= link_to "Borrow history", borrowhistory_path, class:"btn btn-secondary"%>
    <%= link_to "Reservation history", reservationhistory_path, class:"btn btn-secondary"%>

  <% end%>
        
