  <% if student_signed_in? %>
  <%= render "home/header" %>
  <% end %>
  <% if admin_signed_in?%>
  <%= render "home/header1"%>
  <% end%>
<h2>The book is now "reserved" for you</h2>
<h3>Seems like the book is borrowed by someone else.</h3>

<table class="table">
<thead>
    <tr>
    <th scope="col">Student mail</th>
       <th scope="col">Reserved id</th>
      <th scope="col">Book id</th>
      <th scope="col">Book </th>
      <th scope="col">Book name</th>
      <th scope="col">Author</th>
    </tr>
</thead>
<tbody>
<tr>
<% stud=Student.find(@res.student_id)%>
<th scope="row"><%= stud.email %></th>
<td><%= @res.book_id %></td>
<td><%= @borrowed.id %></td>
<td><%= @borrowed.bookid %></td>
<td><%= @borrowed.bookname %></td>
<td><%= @borrowed.author %></td>
</tr>
</tbody>
</table>
<%= link_to "BACK", :back, class:"btn btn-secondary"%>