<h1>Reservation history</h1>
 <table class="table">
  <thead>
    <tr>
     <th scope="col">id</th>
       <th scope="col">student_id</th>
       <th scope="col">student email</th>
    <th scope="col">bookid</th>
    <th scope="col">Book name</th>
    <th scope="col">Author</th>
   
          </tr>
    <div id="books">
  <% @reshis.each do |reshis| %>
<tbody>
<tr>
<td><%= reshis.id %></td>
<td><%= reshis.student_id %></td>
<% stud=Student.find(reshis.student_id)%>
<th scope="row"><%= stud.email %></th>
<td><%= reshis.book_id %></td>
<% bok=Book.find(reshis.book_id)%>
<td><%= bok.bookname %></td>
<td><%= bok.author %></td>
</tr>

  <% end %>

</div>

  </thead>
  
  </table>
  <%= link_to "BACK", :back, class:"btn btn-secondary"%>