  <% if student_signed_in? %>
  <%= render "home/header" %>
  <p style="color: green"><%= notice %></p>
<table class="table">
<thead>
    <tr>
    <th scope="col">Id</th>
      <th scope="col">Book id</th>
      <th scope="col">Book Name</th>
      <th scope="col">Author</th>
      <th scope="col">Show</th>
        <th scope="col">Book image</th>
    </tr>
<%= render @book %>
</thead>
</table>
<div>
  <%= link_to "Back to book", books_path,class:"btn btn-secondary" %>
<br><br>
</div>
  <% end %>
  <% if admin_signed_in?%>
  <%= render "home/header1"%>
  <p style="color: green"><%= notice %></p>
<table class="table">
<thead>
    <tr>
    <th scope="col">Id</th>
      <th scope="col">Book id</th>
      <th scope="col">Book Name</th>
      <th scope="col">Description</th>
      <th scope="col">Author</th>
      <th scope="col">Show</th>
      <th scope="col">Book image</th>
    </tr>
<%= render @book %>
</thead>
</table>
<div>
  <%= link_to "Edit", edit_book_path(@book),class:"btn btn-secondary" %> |
  <%= link_to "Back to book", books_path,class:"btn btn-secondary" %>
<br><br>
  <%= button_to "Delete", @book, method: :delete,class:"btn btn-dark" %>
</div>
  <% end%>
